---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$background-color: #001218;
$sidebar-background-color: #c7e8e9;
$sidebar-width: 250px;
$header-image: url(/assets/images/header-img.jpg);


#masthead {
    background-image: $header-image;
    background-position: left;
    a {
        text-shadow: 5px 5px 3px #000000;
    }
}
