---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$background-color: #001218;
$sidebar-background-color: #c7e8e9;


#masthead {
    background-image: url(/assets/images/header-img.jpg);
    background-position: left;
}


// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";


